In [1]:
import pandas as pd
import numpy as np
from math import sqrt
import warnings
warnings.filterwarnings('ignore')

from azureml.core.run import Run
from azureml.core.experiment import Experiment
from azureml.core.workspace import Workspace
from azureml.core.model import Model
from azureml.core.authentication import ServicePrincipalAuthentication
from azureml.train.automl import AutoMLConfig
import pickle
from matplotlib import pyplot as plt
from matplotlib.pyplot import figure
import mlflow

In [2]:
from azureml.core import Workspace, Dataset

subscription_id = '7a12af0d-a67c-4fb2-85ce-acb1b512790a'
resource_group = 'MLOps'
workspace_name = 'MLOps_WS'

workspace = Workspace(subscription_id, resource_group, workspace_name)

In [3]:
# setup mlflow

uri = workspace.get_mlflow_tracking_uri()

mlflow.set_tracking_uri(uri)

In [4]:
dataset = Dataset.get_by_name(workspace, name='weather_ds_processed')

print(dataset.name, dataset.version)

weather_ds_processed 1

In [5]:
df = dataset.to_pandas_dataframe()
df.head()

,Column1,Timestamp,Location,Temperature_C,Humidity,Wind_speed_kmph,Wind_bearing_degrees,Visibility_km,Pressure_millibars,Weather_condition,Future_Weather_Condition
0,0,2006-03-31 22:00:00,"Port of Turku, Finland",9.472222,0.89,14.1197,251,15.8263,1015.13,1,1.0
1,1,2006-03-31 23:00:00,"Port of Turku, Finland",9.355556,0.86,14.2646,259,15.8263,1015.63,1,1.0
2,2,2006-04-01 00:00:00,"Port of Turku, Finland",9.377778,0.89,3.9284,204,14.9569,1015.94,1,1.0
3,3,2006-04-01 01:00:00,"Port of Turku, Finland",8.288889,0.83,14.1036,269,15.8263,1016.41,1,1.0
4,4,2006-04-01 02:00:00,"Port of Turku, Finland",8.755556,0.83,11.0446,259,15.8263,1016.51,1,1.0

In [8]:
df.shape

(96449, 11)

In [9]:
df.drop('Column1',axis=1, inplace=True)

In [10]:
df.shape

(96449, 10)

In [11]:
# training and validation set

df_training = df.iloc[:77160]   # 80% values

df_training.shape

(77160, 10)

In [12]:
df_validation = df.drop(df_training.index)
df_validation.shape

(19289, 10)

In [14]:
!mkdir Data

In [15]:
# storing the training and validation set

df_training.to_csv('Data/training_data.csv', index=False)

df_validation.to_csv('Data/validation_data.csv', index=False)

In [ ]:
## registering the training and validation dataset -->>